
<div style="width: 100%; margin-left: 240px" class="container">
    <h2>
        Chưa có sp trong giỏ hàng.
        Vui lòng tiếp tục mua hàng
    </h2>
    <div>
        Come back to <a style="font-size: 25px; font-weight: 600; color: red" href="@Url.Action("Index", "home", new { area = string.Empty })"> HOME </a> để mua
    </div>
    <img style="width: 400px; height: 300px" src="~/assets/image/emptycart/tải xuống.png" />
</div>