
@{
    ViewBag.Title = "Index";
  
}
<main class="cart-page-main-block inner-page-sec-padding-bottom" id="binding-cart">
   
</main>


<script>

    $(document).ready(function () {
        bindingCart();


    });

</script>