@using MyShoppingWeb.Models
@{
    string userName = "";
    MyShoppingWebDbContext db = new MyShoppingWebDbContext();
    if (User.Identity.IsAuthenticated)
    {
        int userId = int.Parse(User.Identity.Name);
        TblUsers u = db.TblUsers.Find(userId);
        userName = u.Email;
    }
}
<main id="content" class="page-section inner-page-sec-padding-bottom space-db--20">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Checkout Form s-->
                <div class="checkout-form">
                    <div class="row row-40">
                        <div class="col-12">


                            <!-- Slide Down Blox ==> Login Box  -->
                            <div class="checkout-slidedown-box" id="quick-login">
                                <form action="./">
                                    <div class="quick-login-form">
                                        <p>
                                            If you have shopped with us before, please enter your details in the
                                            boxes below. If you are a new
                                            customer
                                            please
                                            proceed to the Billing &amp; Shipping section.
                                        </p>
                                        <div class="form-group">
                                            <label for="quick-user">Username or email *</label>
                                            <input type="text" placeholder="" id="quick-user">
                                        </div>
                                        <div class="form-group">
                                            <label for="quick-pass">Password *</label>
                                            <input type="text" placeholder="" id="quick-pass">
                                        </div>
                                        <div class="form-group">
                                            <div class="d-flex align-items-center flex-wrap">
                                                <a href="#" class="btn btn-outlined   mr-3">Login</a>
                                                <div class="d-inline-flex align-items-center">
                                                    <input type="checkbox" id="accept_terms" class="mb-0 mr-1">
                                                    <label for="accept_terms" class="mb-0">
                                                        I’ve read and accept
                                                        the terms &amp; conditions
                                                    </label>
                                                </div>
                                            </div>
                                            <p>
                                                <a href="javascript:" class="pass-lost mt-3">
                                                    Lost your
                                                    password?
                                                </a>
                                            </p>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <!-- Slide Down Blox ==> Cupon Box -->
                            <div class="checkout-slidedown-box" id="quick-cupon">
                                <form action="./">
                                    <div class="checkout_coupon">
                                        <input type="text" class="mb-0" placeholder="Coupon Code">
                                        <a href="" class="btn btn-outlined">Apply coupon</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-7 mb--20">
                            <!-- Billing Address -->
                            <div id="billing-form" class="mb-40">
                                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                                <h4 class="checkout-title">Billing Address</h4>
                                <div class="row">

                                    <div class="col-md-12 col-12 mb--20">
                                        <label>Full Name*</label>
                                        <input required id="fullName" type="text" placeholder="Full Name">
                                    </div>


                                    @{
                                        if (User.Identity.IsAuthenticated)
                                        {
                                            <div class="col-md-6 col-12 mb--20">
                                                <label>Email Address*</label>
                                                <input required id="email" type="email" value="@userName">
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="col-md-6 col-12 mb--20">
                                                <label>Email Address*</label>
                                                <input required id="email" type="email" placeholder="Email Address">
                                            </div>
                                        }
                                    }


                                    <div class="col-md-6 col-12 mb--20">
                                        <label>Phone no*</label>
                                        <input required id="phone" type="text" placeholder="Phone number">
                                    </div>
                                    <div class="col-12 mb--20">
                                        <label>Address*</label>
                                        <input required id="address" type="text" placeholder="Address">

                                    </div>


                                </div>
                            </div>
                            <!-- Shipping Address -->

                            <div class="order-note-block mt--30">
                                <label for="order-note">Order notes</label>
                                <textarea id="orderNote" cols="30" rows="10" class="order-note"
                                          placeholder="Press note ... "></textarea>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <div class="row">
                                <!-- Cart Total -->
                                <div class="col-12">
                                    <div class="checkout-cart-total">
                                        <h2 class="checkout-title">YOUR ORDER</h2>
                                        @*<h4>Product <span>Total</span></h4>
        <ul>
            <li><span class="left">Cillum dolore tortor nisl X 01</span> <span class="right">$25.00</span></li>
            <li><span class="left">Auctor gravida pellentesque X 02 </span><span class="right">$50.00</span></li>
            <li>
                <span class="left">Condimentum posuere consectetur X 01</span>
                <span class="right">$29.00</span>
            </li>
            <li>
                <span class="left">Habitasse dictumst elementum X 01</span>
                <span class="right">$10.00</span>
            </li>
        </ul>
        <p>Sub Total <span>$104.00</span></p>
        <p>Shipping Fee <span>$00.00</span></p>
        <h4>Grand Total <span>$104.00</span></h4>*@
                                        <div class="method-notice mt--25">
                                            <article>
                                                <h3 class="d-none sr-only">blog-article</h3>
                                                Sorry, it seems that there are no available payment methods for
                                                your state. Please contact us if you
                                                require
                                                assistance
                                                or wish to make alternate arrangements.
                                            </article>
                                        </div>
                                        <div class="term-block">
                                            <input type="checkbox" id="accept_terms2">
                                            <label for="accept_terms2">
                                                I’ve read and accept the terms &amp;
                                                conditions
                                            </label>
                                        </div>
                                        <button onclick="Checkout()" class="place-order w-100">Place order</button>
                                        @Html.Partial("_Login")
                                        @{

                                            if (!User.Identity.IsAuthenticated)
                                            {

                                                <div style="margin-top: 30px; font-size: 22px;">
                                                    Let's
                                                    <a data-toggle="modal" data-target="#_Login" style="cursor: pointer; color: red; font-weight: 600">Login</a>
                                                    to get discounts!
                                                </div>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>