@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
<div>

</div>
<div>
    <select>
        <option>ds</option>
        <option>ds</option>
        <option>ds</option>
    </select>

    <select multiple name="ListCategoryId">
        <option>typwwww</option>
        <option>typwwww</option>
        <option>typwwww</option>
    </select>

    <input type="checkbox" name="ListCategoryId[]" /> Aos thun
    <input type="checkbox" name="ListCategoryId[]" /> Ao Nam
</div>
